.container {
  background-color: #001220;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.terminal {
  position: relative;
  width: 850px;
  height: 50vh;
  background-color: #000;
  border-radius: 10px;
}
.buttonsterminal {
  position: absolute;
  top: 5px;
  right: 10px;
}
.text {
  margin-top: 25px;
  margin-left: 10px;
}
.text input {
  background: #000;
  border: none;
  outline: none;
  color: #fff;
}
.messages {
  margin-left: 10px;
}
.error {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  line-height: 18px;
  min-height: 36px;
  margin-top: 5px;
}
.error p {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  line-height: 18px;
  min-height: 36px;
  margin-top: 5px;
}
.perr {
  color: red;
  margin: 0;
  margin-right: 5px;
  margin-left: 5px;
}
.error div {
  position: absolute;
  bottom: 0;
  left: 0;
}
.run {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.run p {
  margin: 0;
  margin-left: 8px;
  margin-top: 5px;
}
.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  animation: spinner 1s linear infinite;
  width: 10px;
  height: 20px;
}
@keyframes spinner {
  0% { transform: translate(0, 0) rotate(0deg); }
  100% { transform: translate(0, 0) rotate(360deg); }
}